@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Quicksand:wght@300;400;700&display=swap');

:root {
    --rosa-claro: #eebbbf;
    --verde-claro: #cdf2d6;
    --verde: #155724;
    --vermelho: #721c24;


    --lilita-one: 'Lilita One', cursive;
    --quicksand: 'Quicksand', sans-serif;
}

[data-theme="light"] {
    --card-color: #f3d2c1;
    --bg-color: #fef6e4;
    --tittle-color: #001858;
    --text-color: #172c66;
    --btn-hover-color: #956947;
    --btn-icon-theme: #000;
    --btn-hover-icon: #ffffffcd;
}

[data-theme="dark"] {
    --card-color:#001858;
    --bg-color:#02092b;
    --tittle-color: #f3d2c1;
    --text-color: #f3d2c1;
    --btn-hover-color: #728cd4;
    --btn-icon-theme: #fff;
    --btn-hover-icon: #323232c4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 60px 120px 0 0;
}

.btn-theme {
    border: none;
    background: var(--btn-hover-icon);
    border-radius: 50px;
    cursor: pointer;
    color: var(--btn-icon-theme);
    font-size: 40px !important;
    padding: 2px;
}

body {
    background-color: var(--bg-color);
}

.app {
    background-color: var(--card-color);
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--josefin-sans);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    margin: 50px auto;
    padding: 20px;
}

.app > h1 {
    font-family: var(--lilita-one);
    font-size: 48px;
    color: var(--tittle-color);
    text-align: center;
    border-bottom: 2px solid rgba(149, 105, 71, 0.701);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.quiz > h2 {
    font-family: var(--quicksand);
    font-size: 24px;
    color: var(--text-color);
    font-weight: 600;
}

.btn {
    font-family: var(--quicksand);
    font-size: 20px;
    font-weight: 800;
    color: var(--text-color);
    background: var(--bg-color);
    width: 90%;
    border: 2px solid var(--btn-hover-color);
    border-radius: 18px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease;
    justify-content: center;
}

.btn:hover:not([disabled]){
    background: var(--btn-hover-color);
    color: var(--bg-color);
}

.btn:disabled {
    cursor:no-drop;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#next-btn {
    font-family: var(--quicksand);
    font-size: 18px;
    background: var(--tittle-color);
    color: var(--bg-color);
    font-weight: 800;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: var(--verde-claro);
    color: var(--verde);
    border-color: var(--verde);
    font-weight: 800;
}

.incorrect {
    background: var(--rosa-claro);
    color: var(--vermelho);
    border-color: var(--vermelho);
    font-weight: 800;
}

@media (max-width: 650px) {
    .app {
        width: 80%;
    }

    .app > h1 {
        font-size: 32px;
    }

    .quiz > h2 {
        font-size: 22px;
    }

    .btn {
        font-size: 18px;
    }
}
